body {
  color: #444;
  padding: 50px;
}

a:visited,
a:link {
  color: inherit;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
  margin: 0 auto;
}

.main-title #current {
  border: 2px dashed blue;
  width: 100px;
  text-align: center;
  color: blue;
}

.main-title h2 {
  margin: 0;
}

.board {
  width: 80%;
  height: 80%;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.board .inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.board span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #444;
  border-radius: 50%;
  cursor: pointer;
}

.board span.success {
  border-color: green;
  border-width: 2px;
  color: green;
}

.contact {
  padding-top: 50px;
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.control {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.control button {
  text-transform: uppercase !important;
}
